:root {
  --cor-primaria: #008B8B;
  --cor-textos: #4d4d4d;
  --br-padrao: 5px;
}

h2 {
  color: var(--cor-textos);
}

/* Header */
.header {
  position: fixed;
  top: 0;
  background: white;
  height: 100px;
  width: 100%;
  border-bottom: 4px solid var(--cor-primaria);
  margin-bottom: 20px;
}

.itens-header {
  width: 90%;
  height: 100px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.itens-header b {
  color: var(--cor-primaria);
}

.itens-header a {
  display: inline-block;
  text-decoration: none;
  color: var(--cor-primaria);
  font-weight: bold;
  margin: 5px;
  padding: 7px;
  border: var(--cor-primaria) solid 2px;
  border-radius: var(--br-padrao);
  width: 120px;
  text-align: center;
}

.itens-header a:last-child {
  margin-right: 0;
}

main {
  margin-top: 100px;
}

.container {
  width: 90%;
  margin: auto;
}

/* Página de Produtos */
.lista-produtos {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 25px;
}

.card-produto-home {
  padding: 5px;
  height: auto;
  min-height: 240px;
  border-radius: 3px;
  background: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(214, 214, 214);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.foto-produto {
  align-self: center;
  width: 90%;
  height: auto;
  border-radius: var(--br-padrao);
}

.foto-produto-small {
  align-self: center;
  border-radius: var(--br-padrao);
  width: 100px;
  height: 100px;
}

.card-produto-home h3 {
  font-size: 1rem;
}

.card-produto-home p {
  font-size: 0.8rem;
}

.card-produto-home span {
  font-weight: bold;
  color: var(--cor-primaria);
}

.card-produto-home button {
  padding: 7px;
  border: none;
  border-radius: 3px;
  background: #3CB371;
  cursor: pointer;
  color: white;
  margin-top: 10px;
}

button:hover {
  opacity: 0.8;
}

/* Página de Cadastro Produtos */
.formulario {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.formulario input, textarea{
  padding: 10px;
  width: 50%;
  border-radius: var(--br-padrao);
  border: solid 1px rgb(182, 182, 182);
}

.btn-cadastrar {
  width: 52%;
  padding: 10px;
  border: none;
  border-radius: var(--br-padrao);
  background: #3CB371;
  cursor: pointer;
  color: white;
  margin: 10px 0;
  font-size: 1rem;
}

.btn-cadastrar:hover {
  opacity: 0.9;
}

.sucesso-cadastro {
  display: block;
  margin: 10px 0;
  padding: 5px;
  color: green;
  border: green 1px solid;
  border-radius: var(--br-padrao);
  width: 51%;
}

.erro-cadastro {
  display: block;
  margin: 10px 0;
  padding: 5px;
  color: red;
  border: red 1px solid;
  border-radius: var(--br-padrao);
  width: 51%;
}

/* Página do Carrinho */
.total-carrinho {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: white;
  align-items: center;
  height: auto;
  padding: 15px;
  margin-top: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: var(--br-padrao);
}

.total-carrinho p, .total-carrinho h3 {
  color: var(--cor-textos);
  border: 1px solid var(--cor-primaria);
  border-radius: var(--br-padrao);
  padding: 10px;
  width: 28%;
}

.total-carrinho p {
  padding: 12px 10px;
  font-weight: 500;
}

.total-carrinho button {
  padding: 14px;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  background: #B22222;
  border: none;
  border-radius: var(--br-padrao);
  cursor: pointer;
}

.carrinho-vazio {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  font-size: 2rem;
  color: var(--cor-textos);
}

table {
  width: 100%;
  color: var(--cor-textos);
  margin-top: 20px;
  border-spacing: 0 5px;
}

th {
  padding: 10px 0;
}

td {
  padding: 5px;
}

.itens-carrinho {
  background: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: var(--br-padrao);
}

.itens-carrinho a {
  cursor: pointer;
  margin: 15px;
  height: 25px;
  width: 25px;
  text-align: center;
  font-weight: bold;
  border: 1px solid var(--cor-primaria);
  border-radius: var(--br-padrao);
}

.flex-quantidade {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-quantidade button {
  cursor: pointer;
  padding: 3px;
}

.itens-carrinho .preco {
  text-align: center;
  font-size: 1.2rem;
}

.preco span {
  display: none;
}

@media (max-width: 600px) {
  .itens-header {
    justify-content: center;
  }

  .itens-header a {
    font-size: 0.8rem;
    padding: 5px;
    width: 90px;
  }

  .itens-header a:last-child {
    margin-right: 5px;
  }

  .container {
    width: 95%;
  }

  .card-produto-home {
    width: 100%;
  }

  .foto-produto {
    width: 60%;
  }

  .formulario input, textarea, label{
    width: 90%;
    margin: auto;
  }
  
  .btn-cadastrar {
    width: 90%;
    margin-left: 5%;
  }

  /* Página do Carrinho */
  .total-carrinho {
    height: auto;
  }

  .total-carrinho p:first-child {
    width: 39%;
  }

  .total-carrinho p {
    width: 59%;
    margin-bottom: 5px;
    font-size: 0.8rem;
  }

  .total-carrinho h3 {
    width: 100%;
    margin-bottom: 5px;
    font-size: 1rem;
  }

  .total-carrinho button {
    padding: 10px;
    font-size: 0.8rem;
    margin: auto;
  }
  
  .foto-produto-small {
    width: 80%;
    height: auto;
  }
  
  thead {
    display: none;
  }

  tr {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
  }

  #img {
    width: 25%;
  }

  #descricao {
    width: 75%;
  }

  #quantidade, #valor-unitario, #subtotal {
    width: 33%;
  }

  td {
    font-size: 0.8rem;
  }

  .flex-quantidade button {
    font-size: 0.7rem;
  }
  
  .itens-carrinho .preco {
    font-size: 0.8rem;
  }

  .preco span {
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: bold;
  }
}