:root {
  --cor-primaria: #008B8B;
  --cor-textos: #4d4d4d;
  --br-padrao: 5px;
}

h2 {
  color: var(--cor-textos);
}

/* Header */
.header {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  background: white;
  height: 90px;
  width: 100%;
  border-bottom: 4px solid var(--cor-primaria);
  margin-bottom: 20px;
}

.itens-header {
  width: 90%;
  height: 90px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.itens-header b {
  color: var(--cor-primaria);
}

.itens-header a {
  display: inline-block;
  text-decoration: none;
  color: var(--cor-primaria);
  font-weight: bold;
  margin: 5px;
  padding: 7px;
  border: var(--cor-primaria) solid 2px;
  border-radius: var(--br-padrao);
  width: 90px;
  text-align: center;
}

.itens-header a:last-child {
  margin-right: 0;
}

main {
  margin-top: 100px;
}

.container {
  width: 90%;
  margin: auto;
}

/* Página de Produtos */
.lista-produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.produto {
  margin: 15px;
  padding: 5px;
  width: 220px;
  height: auto;
  min-height: 240px;
  border-radius: 3px;
  background: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(214, 214, 214);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.foto {
  align-self: center;
  width: 90%;
  height: auto;
  border-radius: var(--br-padrao);
}

.produto h3 {
  font-size: 1rem;
}

.produto p {
  font-size: 0.8rem;
}

.produto span {
  font-weight: bold;
  color: var(--cor-primaria);
}

.produto button {
  padding: 7px;
  border: none;
  border-radius: 3px;
  background: #3CB371;
  cursor: pointer;
  color: white;
  margin-top: 10px;
}

.produto button:hover {
  opacity: 0.9;
}

/* Página de Cadastro Produtos */
.formulario {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.formulario input, textarea{
  padding: 10px;
  width: 50%;
  border-radius: var(--br-padrao);
  border: solid 1px rgb(182, 182, 182);
}

.btn-cadastrar {
  width: 52%;
  padding: 10px;
  border: none;
  border-radius: var(--br-padrao);
  background: #3CB371;
  cursor: pointer;
  color: white;
  margin-top: 10px;
  font-size: 1rem;
}

.btn-cadastrar:hover {
  opacity: 0.9;
}

.sucesso {
  display: block;
  margin: 10px 0;
  padding: 5px;
  color: green;
  border: green 1px solid;
  border-radius: var(--br-padrao);
  width: 51%;
}

/* Página do Carrinho */
.total-carrinho {
  display: flex;
  justify-content: space-between;
  background: white;
  align-items: center;
  height: 40px;
  padding: 15px;
  margin-top: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: var(--br-padrao);
}

.total-carrinho p, .total-carrinho h3 {
  color: var(--cor-textos);
  border: 1px solid var(--cor-primaria);
  border-radius: var(--br-padrao);
  padding: 10px;
  width: 25%;
}

.total-carrinho p {
  padding: 12px 10px;
  font-weight: 500;
}

.total-carrinho button {
  padding: 14px;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  background: #B22222;
  border: none;
  border-radius: var(--br-padrao);
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.carrinho-vazio {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  font-size: 2rem;
  color: var(--cor-textos);
}

.header-lista-itens-carrinho {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  color: var(--cor-textos);
}

.header-lista-itens-carrinho h4:first-child {
  width: 30%;
  text-align: center;
}

.lista-itens-carrinho {
  display: flex;
  flex-direction: column;
}

.lista-itens-carrinho span {
  font-size: 1.3rem;
  width: 250px;
}

table {
  width: 100%;
  color: var(--cor-textos);
  margin-top: 20px;
  border-spacing: 0 5px;
}

th {
  padding: 10px 0;
}

td {
  padding: 5px;
}

.itens-carrinho {
  background: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: var(--br-padrao);
}

.itens-carrinho a {
  cursor: pointer;
  margin: 15px;
  height: 25px;
  width: 25px;
  text-align: center;
  font-weight: bold;
  border: 1px solid var(--cor-primaria);
  border-radius: var(--br-padrao);
}

.flex-quantidade {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-quantidade button {
  cursor: pointer;
  padding: 3px;
}

.itens-carrinho .preco {
  text-align: center;
  font-size: 1.2rem;
}

